body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url('../images/bg-repeat.jpg');
    background-size: contain;
}

.duvidas {
    width: 350px;
    height: 100px;
    padding: 20px;
    color: #FFFFFF;
    margin-right: 60px;
}

.duvidas h3 {
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    text-transform: uppercase;
}

.duvidas p {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 12px;
}

.cadastro {
    background-color: #FFFFFF;
    width: 340px;
    height: 390px;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    justify-content: center;

}

.cadastro .formulario input, textarea{
    width: 290px;
    border-radius: 5px;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    border: solid 1px #000000;
}

.cadastro p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.cadastro a button {
    background-color: #3CCC87;
    color: #FFFFFF;
    width: 300px;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
}

span {
    color: red;
    font-size: 0.8em;
}

#erroNome, #erroEmail, #erroTelefone, #erroComentario {
    display: none;
    font-size: 8px;
    margin-top: -15px;
    margin-bottom: 5px;
}

#erroNome.visible, #erroEmail.visible, #erroTelefone.visible, #erroComentario.visible {
    display: block;    
}

.cadastro .formulario input.invalid, textarea.invalid {
    border-color: red;
}

.cadastro .formulario input.valid {
    border-color: green;
}